<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
        <input (keyup)="onKey($event)">
        
        <button (click)="displayDropdown()">Options</button>
        
        <select *ngIf="btnClicked" (change)="changeDropdown($event)">
            <option>--select options--</option>
            <option *ngFor="let dropdown of dropdownList">
                {{dropdown}}
            </option>
        </select>

        <input type="text" *ngIf="multipleChoiceOption"
         #addMultiOpt (keyup.enter)="onEnter(addMultiOpt.value)"/>
        <p>{{addMultiOption}}</p>

        <button (click)="addQuestion()">Add Question</button>
       
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
        <app-display-component></app-display-component>
       <!-- <app-display-component [value]="value" 
        [dropdownValue]="dropdownValue" [addMultiOption]="addMultiOption">
        </app-display-component>-->

    </div>
</div>

