  
    <div *ngFor="let question of questions" [ngSwitch]="question.type">
        <div *ngSwitchCase="'shorttext'">
          <p>{{ question.questionText }}</p>
          <input type="text" value="type something"/>
        </div>


        <div *ngSwitchCase="'longtext'">
          <p>{{ question.questionText }}</p>
          <textarea type="text"></textarea>
        </div>

        <div *ngSwitchCase="'mc'">
          <p>{{ question.questionText }}</p>
          <select>
            <option *ngFor="let choice of question.choices" 
            value="{{choice}}">
            {{choice}}
            
          </option>

          </select>
        </div>

    </div>
    
    
    
    
   <!-- <input type="text" value="type something" *ngIf="enableText"/>
    <ng-container *ngIf="multipleChoice">
      <div *ngFor="let multipleCheckbox of multipleChoiceOptArray;let i=index;" class="checkbox">
        <label>
          <input type="checkbox" name="multipleCheckbox[{{i}}]" [value]="multipleCheckbox">
            {{ multipleCheckbox }}
        </label>
      </div>
    </ng-container>-->
